<div>
  @if(words()){
    <mat-card>
      <mat-card-header class="word-group-title">
        <mat-card-title>Group Name: {{wordGroup()}}</mat-card-title>
         <!-- <mat-card-title>Temp Title</mat-card-title> -->
        <mat-card-subtitle>Number of words: {{words().length}}</mat-card-subtitle>
      </mat-card-header>
      <mat-list class = "word-group-list">
        @if(words().length === 0 ){
          <mat-list-item>No Words in Word Group</mat-list-item>
        } @for(word of words(); track word._id) {
          <div class="word-group-list-item">
            <mat-list-item>{{word.word}}</mat-list-item>
          </div>
        }
      </mat-list>
    </mat-card>
  } @else {
    <mat-card>
      <mat-card-header>
        <mat-card-title>Loading Words:</mat-card-title>
      </mat-card-header>
    </mat-card>
  }
</div>
