.delete-word-fab {
    vertical-align: middle;
}

.anagram-list-word {
  padding: auto;
}

.anagram-list-wordGroup {
  display: none;
}

.column {
  float: left;
  padding: 10px;
}

.column.left {
  width: 60%;
}

.column.right{
  width: 30%;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
}
