<div class="flex-row">
  <div>
    <mat-card class="home-card">
      <mat-card-header>
        <mat-card-title>
          Create A Room
        </mat-card-title>
      </mat-card-header>
      <br>
      <mat-card-content style="text-align: center;">
        <form [formGroup]="roomForm" (ngSubmit)="createRoom()">
          <label for="name"></label>
          <input mat-input id="name" formControlName="name" placeholder="Room Name"/>
          <br>
          <button mat-raised-button type="submit">Create Room</button>
        </form>
        @if (createdRoomId) {
          Created Room ID: {{ createdRoomId }}
          <br>
          <button mat-button (click)="copyLink()" data-test="copy-link-button">Copy Link</button>
          <br>
          <button mat-button routerLink="/{{this.createdRoomId}}/grids" data-test="go-to-room-grids-button">Go to Room Grids</button>
        }
      </mat-card-content>
    </mat-card>
  </div>
<div class="flex-row">
  <div class="flex-1">
    <mat-card class="grid-route-card">
      <button mat-button routerLink="/grid" routerLinkActive="drawer-list-item-active">
      <mat-card-header>
        <mat-card-title>
          Grid:
        </mat-card-title>
      </mat-card-header>
      </button>
    </mat-card>
  </div>
</div>

